.toys-controls {
  width: 35%;

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.toys-item {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }
}

.toys-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toys-count {
  width: 40px;
  height: 40px;
}

.toys-count__num {
  display: inline-block;
  width: 100%;
  height: 100%;

  line-height: 40px;

  text-align: center;

  border-radius: 50%;
  background: rgba(255, 255, 255, .3);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .2);
}

.toys-search__input {
  width: 70%;
  height: 40px;

  padding: 5px 25px;

  font-size: 18px;
  font-family: inherit;
  color: #fff;

  background: rgba(255, 255, 255, .3);
  border: none;
  border-radius: 40px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .2);

  outline: none;

  &::placeholder {
    color: inherit;
  }
}

.toys-favorite__input {
  display: none;
}

.toys-favorite__label {
  position: relative;

  padding-left: 35px;
  margin-bottom: 20px;

  font: inherit;
  color: #fff;
  cursor: pointer;
}

.toys-favorite__label:last-child {
  margin-bottom: 0;
}

.toys-favorite__label:before {
  position: absolute;
  left: 0;
  top: 2px;

  content: '';
  display: block;
  width: 20px;
  height: 20px;

  border: 1px solid #fff;

  transition: all .12s, border-color .08s;
}

.toys-favorite__input:checked + .toys-favorite__label:before {
  width: 10px;
  top: -1px;
  left: 5px;
  border-radius: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}


