.noUi-target {
  margin-top: 20px;

  border: none;
}

.noUi-connect {
  background-color: #7d8aff;
}

.noUi-horizontal {
  margin-top: 50px;
  height: 5px;

  @media (max-width: 1000px) {
    width: 90%;

    margin: 50px auto 0 auto;
  }
}

.noUi-horizontal .noUi-handle {
  right: -10px;
  top: -9px;

  width: 20px;
  height: 20px;

  border-radius: 50%;

  &:before, &:after {
    background-color: transparent;
  }
}

.noUi-horizontal .noUi-tooltip {
  color: #fff;
  font-size: 14px;

  background: rgba(255, 255, 255, .3);
  border: none;

  opacity: .9;
}
