.page-tree__primary {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 750px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;
}