.toys-form__items {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;

  @media (max-width: 1000px) {
    justify-content: space-around;
  }
}

.toys-form__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;

  font-size: 0;
  font-weight: 200;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  &:hover {
    cursor: pointer;
    filter: invert(20%);
  }

  &.active {
    filter: brightness(0.5) sepia(1) hue-rotate(199deg) saturate(6);
  }

  @media (max-width: 1000px) {
    width: 60px;
    height: 60px;
  }
}

.toys-form__item:nth-child(1) {
  background-image: url("../../../../assets/svg/ball.svg");
}

.toys-form__item:nth-child(2) {
  background-image: url("../../../../assets/svg/snowflake.svg");
}

.toys-form__item:nth-child(3) {
  background-image: url("../../../../assets/svg/toy.svg");
}

.toys-form__item:nth-child(4) {
  background-image: url("../../../../assets/svg/cone.svg");
}

.toys-form__item:nth-child(5) {
  background-image: url("../../../../assets/svg/bell.svg");
}