@keyframes garland {
  0% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

.garland {
  position: absolute;

  pointer-events: none;
}

.garland-line {
  position: absolute;
  left: 50%;

  display: flex;
  justify-content: center;
  gap: 15px;

  width: 400px;
  height: 400px;

  transform: translate(-50%, -65%);

  li {
    display: block;

    width: 8px;
    height: 8px;

    border-radius: 50%;

    animation-name: garland;
    animation-iteration-count: infinite;

    &.multicolor {
      &:nth-child(1n + 1) {
        background-color: #f82424;
      }
      &:nth-child(2n + 2) {
        background-color: #0f65ff;
      }
      &:nth-child(3n + 3) {
        background-color: #fffb00;
      }
      &:nth-child(4n + 4) {
        background-color: #73fc17;
      }
    }

    &.red {
      background-color: #f82424;
    }

    &.blue {
      background-color: #0f65ff;
    }

    &.yellow {
      background-color: #fffb00;
    }

    &.green {
      background-color: #73fc17;
    }

    &.transparent {
      background-color: transparent;
    }
  }
}