.toys-color__items {
  margin-top: 20px;

  @media (max-width: 1000px) {
    display: flex;
    justify-content: space-around;
  }
}

.toys-color__item {
  position: relative;

  width: 25px;
  height: 25px;

  margin-right: 25px;

  border: 2px solid transparent;

  border-radius: 50%;

  transition: transform .3s ease-in-out;

  &.active {
    transform: scale(1.4);
  }

  &:nth-child(1) {
    background-color: #fff;
  }

  &:nth-child(2) {
    background-color: #fffb00;
  }

  &:nth-child(3) {
    background-color: #f82424;
  }

  &:nth-child(4) {
    background-color: #0f65ff;
  }

  &:nth-child(5) {
    background-color: #73fc17;
  }

  @media (max-width: 1000px) {
    width: 40px;
    height: 40px;
  }
}
