.cards-item {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  padding: 20px;

  font-size: 16px;
  font-weight: 300;

  border-radius: 15px;
  background: linear-gradient(to bottom right, rgba(196, 209, 211, 0.71), rgba(188, 243, 255, 0.55));

  transition: background-color .5s ease-in-out, transform .5s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #2c98f075;

    transform: translateY(-5px);
  }
  
  &.active {
    background-color: #20f;
    transform: translateY(-5px);
  }
}

.cards-item__img {
  align-self: center;
}

.cards-item__img {
  max-width: 130px;
}