.footer {
  background-color: #121C1E;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-about {
  display: flex;
  align-items: center;
  gap: 50px;

  font-size: 22px;
  font-weight: 300;
}

.footer-about__author {
  color: #fff;
  text-decoration: none;

  transition: color .3s ease-in-out;
  
  &:hover {
    color: #7d8aff;
  }
}

.footer-logo {
  width: 220px;
  height: 82px;

  font-size: 0;

  background-image: url("../../../assets/svg/rss.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  transition: filter .5s ease-in-out;

  &:hover {
    filter: brightness(0.5) sepia(1) hue-rotate(199deg) saturate(6);
  }
}